{% extends 'baseAdmin.html.twig' %}



{% block title %}Liste des membres {% endblock %}

{% block body2 %}


{#   navbar vertical#}
{#   <div class="container-fluid">#}
{#   <div class="row">#}
{#   <nav class="col-md-2 d-none d-md-block bg-light sidebar navbar-vertical">#}
{#      <div class="sidebar-sticky">#}
{#         <h4>Dashboard</h4>#}
{#         <ul class="nav flex-column">#}

{#            <li class="nav-item"><a class="nav-link active" href="{{ path('app_dashboard_users') }}"> Afficher Utilisateur</a></li>#}
{#            <li class="nav-item">#}
{#               <a class="nav-link" href="{{ path('app_dashboard-sortie') }}"> Afficher sorties</a></li>#}
{#            <li class="nav-item">#}
{#               <a class="nav-link" href=""> Rendre innactif Utilisateur</a></li>#}
{#            <li class="nav-item">#}
{#               <a class="nav-link" href=""> Gérer les villes</a></li>#}
{#            <li class="nav-item">#}
{#               <a class="nav-link" href=""> Gérer les sites</a></li>#}
{#         </ul>#}
{#      </div>#}
{#   </nav>#}

{#   <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">#}


   <h3>Liste des membres</h3>

   <div class="table-ctn">
   <table class="table table-striped table-hover align-middle">
      <tr>
         <th>Pseudo</th>
         <th>Email</th>
         <th>Action</th>
      </tr>

      {% for user in users %}
      <tr>

         <td>{{ user.pseudo }}</td>
         <td>{{ user.email }}</td>
         <td>
             <a href="{{ path('app_user_delete', {'id' : user.id}) }}"> <button  type="button" class="btn btn-outline-danger" onclick="return confirm('Etes-vous sûr ?')" >Supprimer Utilisateur</button></a>

            {% if user.isActif %}
            <a href="{{ path('app_user_desactivate', {'id' : user.id}) }}"> <button  type="button" class="btn btn-outline-danger" onclick="return confirm('Etes-vous sûr ?')">Désactiver Utilisateur</button></a>
            {% else%}
            <a href="{{ path('app_user_reactivate', {'id' : user.id}) }}"> <button  type="button" class="btn btn-outline-success" onclick="return confirm('Etes-vous sûr ?')">Reactiver Utilisateur</button></a>
{% endif %}
         </td>

      </tr>
      {% endfor %}
   </table>
   </div>>
{#suite navbar verticale#}
{#   </main>#}
{#   </div>#}
{#   </div>#}

{#   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>#}




{% endblock %}