{% extends 'baseAdmin.html.twig' %}


{% block body %}


    <h3>Liste sorties</h3>

    <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Nombre maxi d'inscriptions</th>
            <th>Etat</th>
            <th>Inscrit ou pas?</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        {% for sortie in sorties %}
            <tr>

                <td>{{ sortie.nomSortie }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i') : '' }}</td>
                <td>{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                {% if is_granted('IS_AUTHENTICATED') %}
                <td>
                    {% if sortie.organisateur.id == app.user.id %}
                        X
                    {% else %}

                    {% endif %}
                    {% endif %}
                </td>

                <td>{{ sortie.organisateur.nom }}</td>
                <td>
                    <a href="{{ path('app_dashboard-sortie_detail', {'id': sortie.id}) }}" type="button" class="btn btn-outline-secondary">Afficher</a>


                    {% if is_granted('ROLE_ADMIN') %}
                        {% if sortie.organisateur.id != app.user.id %}
                            <a href="{{ path('app_sortie_update', {'id': sortie.id}) }}" type="button" class="btn btn-outline-primary">S'inscrire</a>
                        {% endif %}
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')
                        and sortie.etat.libelle != 'Annulée'  %}
                        <a href="{{ path('app_dashboard-sortie_annuler', {'id': sortie.id}) }}" type="button" class="btn btn-outline-danger" >Annuler</a>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')
                        and sortie.etat.libelle == 'Annulée'  %}
                        <a href="{{ path('app_dashboard-sortie_reactiver', {'id': sortie.id}) }}" type="button" class="btn btn-outline-success" >Reactiver la sortie</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}
 {% block title %}{{ parent() }} | Dashboard{% endblock %}