{% extends 'base.html.twig' %}
{% form_theme villeform 'bootstrap_5_layout.html.twig' %}

{% block title %}Créer une Ville{% endblock %}

{% block body %}

    <h2>Créer une Ville</h2>


        {{ form_start(villeform) }}
        {{ form_widget(villeform) }}

    <br>
    {% if idSortie %}
        <input type ="hidden" value={{idSortie}} name="idSortie">
    {%  endif %}

    <button type="submit" name="submitAction"  value="creer"  class="btn btn-outline-secondary">Créer une Ville</button>
    <a href="{{ path('app_lieu_create') }}"><button type="button" name="annuler" class="btn btn-outline-danger">Retour</button></a>

    {{ form_end(villeform) }}



{% endblock %}