{% extends 'base.html.twig' %}
{% form_theme sortieform 'bootstrap_5_layout.html.twig' %}


{% block title %}Créer Sortie{% endblock %}

{% block body %}

    <h2>Créer une sortie</h2>

    <p>{{ app.user.site.nomSite }}</p>

    {{ form_start(sortieform) }}
    {{ form_widget(sortieform) }}

    <a href="{{ path('app_lieu_create') }}"><button type="button"  class="btn btn-outline-secondary">Ajouter un Lieu</button></a>
    <br>
    <br>

    <button type="submit" name="submitAction"  value="creer"  class="btn btn-outline-secondary">Enregistrer la Sortie</button>
    <button type="submit" name="submitAction"  value="ouvrir" class="btn btn-outline-secondary">Ouvrir la sortie</button>
    <a href="{{ path('app_home') }}"><button type="button" name="annuler" class="btn btn-outline-danger">Retour</button></a>

    {{ form_end(sortieform) }}



{% endblock %}
