{% extends 'base.html.twig' %}
{% form_theme lieuform 'bootstrap_5_layout.html.twig' %}

{% block title %}Créer Un lieu{% endblock %}

{% block body %}

    <h2>Créer un Lieu</h2>


        {{ form_start(lieuform) }}
        {{ form_widget(lieuform) }}
    <a href="{{ path('app_villes_create_sortie') }}"><button type="button"  class="btn btn-outline-secondary">Ajouter une Ville</button></a>
    <br>
    <br>

    <button type="submit" name="submitAction"  value="creer"  class="btn btn-outline-secondary">Créer Un lieu</button>
    <a href="{{ path('app_sortie_create') }}"><button type="button" name="annuler" class="btn btn-outline-danger">Retour</button></a>

    {{ form_end(lieuform) }}



{% endblock %}