{% extends 'base.html.twig' %}
{% form_theme sortieform 'bootstrap_5_layout.html.twig' %}

{% block title %}Créer Sortie{% endblock %}

{% block body %}

    <h2>Créer une sortie</h2>



    {{ form_start(sortieform) }}
    {{ form_widget(sortieform) }}


    <p>Ville organisatrice : {{ app.user.site.nomSite }}</p>


    <button type="submit" name="submitAction"  value="creer"  class="btn btn-outline-secondary">Créer la Sortie</button>
    <button type="submit" name="submitAction"  value="ouvrir" class="btn btn-outline-secondary">Ouvrir la sortie</button>
    <a href="{{ path('app_home') }}"><button type="button" name="annuler" class="btn btn-outline-danger">Annuler</button></a>

    {{ form_end(sortieform) }}



{% endblock %}
