{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}

{% block body %}

    <h2>Détail de la sortie : {{ sortie.nomSortie }}</h2>

    <br>
    <table class="custom-th table">

        <tbody>
            <tr>
                <th >Nom de la sortie :</th>
                <td>{{ sortie.nomSortie }}</td>
            </tr>
            <tr>
                <th>Ville organisatrice :</th>
                <td>{{ sortie.site.nomSite }}</td>
            </tr>
            <tr>
                <th>Organisateur :</th>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie :</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription :</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places :</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Durée :</th>
                <td>{{ sortie.duree }} minutes</td>
            </tr>
            <tr>
                <th>Description et infos :</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Lieu :</th>
                <td>{{ sortie.lieu.nomLieu }}</td>
            </tr>
            <tr>
                <th>Rue :</th>
                <td>{{ sortie.lieu.rue }}</td>
            </tr>
            <tr>
                <th>Code Postal :</th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville :</th>
                <td>{{ sortie.lieu.ville.nomVille }}</td>
            </tr>
            <tr>
                <th>Latitude :</th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude :</th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>

        </tbody>
    </table>
    <br>

    {% if sortie.etat.libelle == 'Ouverte'%}
        <h3>Liste des participants</h3>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Pseudo :</th>
                <th>Nom</th>
                {% if is_granted('IS_AUTHENTICATED')%}
                    <th>Détail</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for userInscrit in sortie.users %}
                <tr>
                    <td>{{ userInscrit.pseudo }}</td>
                    <td>{{ userInscrit.nom }}</td>
                    {% if is_granted('IS_AUTHENTICATED')%}
                        <td><a href="{{ path('app_user_profile_show', {'id': userInscrit.id}) }}" type="button" class="btn btn-outline-secondary">Afficher</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun participant inscrit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {%  block buttons %}
    {% if sortie.etat.libelle == 'Ouverte' and is_granted('IS_AUTHENTICATED')  %}
        {% set flag = 0 %}
        {% for user in sortie.users %}
            {% if user.email == app.user.email %}
                {% set flag = 1 %}
            {% endif %}
        {% endfor %}

        {% if flag == 0 %}
            <a href="{{ path('app_inscription', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">S'inscrire</button></a>
        {% else %}
            <a href="{{ path('app_desistement', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">Se Désister</button></a>
        {% endif %}
    {% endif %}
        <a href="{{ path('app_home') }}"><button type="button" class="btn btn-outline-danger">Retour</button></a>
    {% endblock %}

{% endblock %}