{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}

{% block body %}

    <h2>Détail de la sortie : {{ sortie.nomSortie }}</h2>

    <br>
    <table class="custom-th table">

        <tbody>
            <tr>
                <th >Nom de la sortie :</th>
                <td>{{ sortie.nomSortie }}</td>
            </tr>
            <tr>
                <th>Ville organisatrice :</th>
                <td>{{ sortie.site.nomSite }}</td>
            </tr>
            <tr>
                <th>Organisateur :</th>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie :</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription :</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places :</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Durée :</th>
                <td>{{ sortie.duree }} minutes</td>
            </tr>
            <tr>
                <th>Description et infos :</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Lieu :</th>
                <td>{{ sortie.lieu.nomLieu }}</td>
            </tr>
            <tr>
                <th>Rue :</th>
                <td>{{ sortie.lieu.rue }}</td>
            </tr>
            <tr>
                <th>Code Postal :</th>
                <td>{{ sortie.lieu.ville.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville :</th>
                <td>{{ sortie.lieu.ville.nomVille }}</td>
            </tr>
            <tr>
                <th>Latitude :</th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude :</th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>

        </tbody>
    </table>
    <br>

    {% if sortie.etat.libelle == 'Ouverte'%}
        <h3>Liste des participants</h3>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Pseudo :</th>
                <th>Nom</th>
                {% if is_granted('IS_AUTHENTICATED')%}
                    <th>Détail</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for userInscrit in sortie.users %}
                <tr>
                    <td>{{ userInscrit.pseudo }}</td>
                    <td>{{ userInscrit.nom }}</td>
                    {% if is_granted('IS_AUTHENTICATED')%}
                        <td><a href="{{ path('app_user_profile_show', {'id': userInscrit.id}) }}" type="button" class="btn btn-outline-secondary">Afficher</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucun participant inscrit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <br>

    <div id="map" style="height: 400px;"></div>

    <br>

    {%  block buttons %}
        {% if sortie.etat.libelle == 'Ouverte' and is_granted('IS_AUTHENTICATED')  %}
            {% set userIsRegistered = false %}
            {% for user in sortie.users %}
                {% if user.email == app.user.email %}
                    {% set userIsRegistered = true %}
                {% endif %}
            {% endfor %}

            {% if not userIsRegistered and (sortie.users|length < sortie.nbInscriptionMax and sortie.getDateLimiteInscription > date('now')) %}
                <a href="{{ path('app_inscription', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">S'inscrire</button></a>
            {% elseif userIsRegistered %}
                <a href="{{ path('app_desistement', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">Se Désister</button></a>
            {% endif %}

            {% if not userIsRegistered and sortie.users|length >= sortie.nbInscriptionMax %}
                <button type="button" class="btn btn-outline-secondary" disabled>Complet</button>
            {% endif %}

            {% if not userIsRegistered and sortie.getDateLimiteInscription < date('now') %}
                <button type="button" class="btn btn-outline-secondary" disabled>Trop tard!</button>
            {% endif %}

    {% endif %}
        <a href="{{ path('app_home') }}"><button type="button" class="btn btn-outline-danger">Retour</button></a>
    {% endblock %}

    <script>
        const sorties = [
            { nom: "{{ sortie.nomSortie }}", latitude: {{ sortie.lieu.latitude }}, longitude: {{ sortie.lieu.longitude }} },
        ];
        // Utiliser les coordonnées de la première sortie pour centrer la carte
        const centerCoordinates = [sorties[0].latitude, sorties[0].longitude];

        // Initialisez la carte centrée sur les coordonnées de la première sortie
        const map = L.map("map").setView(centerCoordinates, 13);

        // Ajoutez une couche de tuiles OpenStreetMap à la carte
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "© OpenStreetMap contributors",
        }).addTo(map);

        // Ajoutez des marqueurs pour chaque sortie avec des informations de popup
        sorties.forEach((sortie) => {
            L.marker([sortie.latitude, sortie.longitude])
                .addTo(map)
                .bindPopup(`<b>${sortie.nom}</b><br>Latitude: ${sortie.latitude}<br>Longitude: ${sortie.longitude}`);
        });
    </script>

{% endblock %}

