{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <h1>Filtrer les sorties</h1>

    <div>
        <h3>Date du jour : {{ "now"|date("d/m/Y") }}</h3>
        {% if is_granted('IS_AUTHENTICATED') %}
            <h3>Participant : {{ app.user.pseudo }} </h3>
        {% endif %}
    </div>

    {% if app.user.id is defined %}

        {{ form_start(form) }}

        {{ form_end(form) }}

    {% endif %}



    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Nombre maxi d'inscriptions</th>
            <th>Etat</th>
            {% if is_granted('IS_AUTHENTICATED') %}
            <th>Inscrit ou pas?</th>
            {% endif %}
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for sortie in sortie %}
            <tr>
                <td>{{ sortie.nomSortie }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i') : '' }}</td>
                <td>{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                {% if is_granted('IS_AUTHENTICATED') %}
                <td>
                    {% if sortie.organisateur.id == app.user.id %}
                        X
                    {% else %}

                    {% endif %}
                {% endif %}
                </td>

                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}" type="button" class="btn btn-outline-secondary">Afficher</a>
                    {% if is_granted('IS_AUTHENTICATED') %}
                        {% if sortie.organisateur.id == app.user.id %}
                            <a href="{{ path('app_sortie_update', {'id': sortie.id}) }}" type="button" class="btn btn-outline-secondary">Modifier</a>
                        {% endif %}
                        {% if sortie.etat.libelle == 'Ouverte' %}
                            <a href="{{ path('app_inscription', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">S'inscrire</button></a>
                        {% endif %}
                        {% if sortie.organisateur.id == app.user.id %}
                            {% if sortie.etat.libelle != 'Annulée'  %}
                                <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}" type="button" class="btn btn-outline-danger">Annuler</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    {% if is_granted('IS_AUTHENTICATED') %}
    <a href="{{ path('app_sortie_create') }}" class="btn btn-outline-secondary">Créer une sortie</a>
    {% endif %}

{% endblock %}
