{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <h1>Filtrer les sorties</h1>
    <br>
    <div>
        <h3>Date du jour : {{ "now"|date("d/m/Y") }}</h3>
        <br>
        {% if app.user.nom is defined %}
            <h3>Participant :{{ app.user.pseudo }}</h3>
            {% else %}
                <h3>Non connecté</h3>
        {% endif %}
    </div>
    <br>

    {% if app.user.id is defined %}

        {{ form_start(form) }}

        {{ form_end(form) }}

    {% endif %}



    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture Inscriptions</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            {% if is_granted('IS_AUTHENTICATED')%}
                <th>Inscrit</th>
            {% endif %}
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% set filteredSorties = sortie|filter(s => s.etat.libelle != 'Archivée') %}

        {% if filteredSorties|length > 0 %}
            {% for sortie in filteredSorties %}
                <tr>
                    <td>{{ sortie.nomSortie }}</td>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ sortie.users|length }}/{{ sortie.nbInscriptionMax }}</td>
                    {% if sortie.etat.libelle == 'Annulée' %}
                        {% if sortie.motif is defined and sortie.motif is not empty %}
                            <td data-toggle="tooltip" data-placement="right" title="{{ sortie.motif }}" class="tooltip-trigger">{{ sortie.etat.libelle }}</td>
                        {% else %}
                            <td data-toggle="tooltip" data-placement="right" title="Aucun motif disponible" class="tooltip-trigger">{{ sortie.etat.libelle }}</td>
                        {% endif %}
                    {% else %}
                        <td>{{ sortie.etat.libelle }}</td>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED') %}
                        <td>
                            {% set flag = 0 %}
                            {% for user in sortie.users %}
                                {% if user.email == app.user.email %}
                                    {% set flag = 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if flag ==1 %}
                                x
                            {% endif %}
                        </td>
                    {% endif %}

                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td>
                        <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}" type="button" class="btn btn-outline-secondary">Afficher</a>

                        {% if is_granted('IS_AUTHENTICATED') and app.user.email == sortie.organisateur.email and sortie.etat.libelle in ['Créée', 'Ouverte']%}
                            <a href="{{ path('app_sortie_update', {'id': sortie.id}) }}" type="button" class="btn btn-outline-secondary">Modifier</a>
                        {% endif %}

                        {% if sortie.etat.libelle == 'Ouverte' and is_granted('IS_AUTHENTICATED')  %}
                            {% set flag = 0 %}
                            {% for user in sortie.users %}
                                {% if user.email == app.user.email %}
                                    {% set flag = 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if flag == 0 %}
                                <a href="{{ path('app_inscription', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">S'inscrire</button></a>
                            {% else %}
                                <a href="{{ path('app_desistement', {'id': sortie.id, 'etatSortie':sortie.etat.libelle }) }}"><button type="button" class="btn btn-outline-primary">Se Désister</button></a>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED') %}
                            {% if sortie.etat.libelle in ['Créée', 'Ouverte'] and sortie.organisateur.id == app.user.id %}
                                <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}" type="button" class="btn btn-outline-danger">Annuler</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED') %}
        <a href="{{ path('app_sortie_create') }}" class="btn btn-outline-secondary">Créer une sortie</a>
    {% endif %}
{% endblock %}