{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Date de clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sortie %}
            <tr>
                <td>{{ sortie.nomSortie }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i') : '' }}</td>
                <td>[A faire]/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }} </td>
                <td>[A faire]</td>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
                <td>
                    <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">S'inscrire</a>
                    <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">Se désister</a>
                    <a href="{{ path('app_sortie_update', {'id': sortie.id}) }}">Modifier</a>
                    <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">Annuler</a>
                    <a href="{{ path('app_sortie_detail', {'id': sortie.id}) }}">Publier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_sortie_create') }}" class="btn btn-outline-secondary">Créer une sortie</a>

{% endblock %}
