{% extends 'base.html.twig' %}
{% form_theme sortieform 'bootstrap_5_layout.html.twig' %}

{% block title %}Modification Sortie{% endblock %}

{% block body %}

    <h2>Modifier la sortie : </h2>

    <p>{{ app.user.site.nomSite }}</p>

    {{ form_start(sortieform) }}
    {{ form_widget(sortieform) }}

    <a href="{{ path('app_lieu_create') }}"><button type="button"  class="btn btn-outline-secondary">Ajouter un Lieu</button></a>
    <br>
    <br>

    {% if sortie.etat.libelle != 'Ouverte' %}
    <button type="submit" name="submitAction"  value="creer"  class="btn btn-outline-secondary"  >Enregistrer</button>
    {% endif %}
    <button type="submit" name="submitAction"  value="ouvrir" class="btn btn-outline-secondary">Ouvrir la sortie</button>
    <a href="{{ path('app_sortie_annuler', {'id' : sortie.id }) }}"><button type="button" name="annuler" class="btn btn-outline-danger" >Annuler la sortie</button></a>
    <a href="{{ path('app_sortie_delete', {'id' : sortie.id }) }}" class="btn btn-outline-danger" onclick="return confirm('Etes-vous sûr ?')">Supprimer la sortie</a>
    <a href="{{ path('app_home') }}"><button type="button" class="btn btn-outline-danger">Retour</button></a>


    {{ form_end(sortieform) }}

{% endblock %}