{% extends 'base.html.twig' %}
{% form_theme sortieform 'bootstrap_5_layout.html.twig' %}

{% block title %}Modification Sortie{% endblock %}

{% block body %}

    <h2>Modifier la sortie : </h2>

    {{ form_start(sortieform) }}
    {{ form_widget(sortieform) }}

    <button type="submit" name="submitAction"  value="creer"  class="btn btn-outline-secondary"  >Créer la Sortie</button>
    <button type="submit" name="submitAction"  value="ouvrir" class="btn btn-outline-secondary">Ouvrir la sortie</button>
{#    <a href="{{ path('app_sortie_delete', {'id' : sortie.id }) }}" onclick="return confirm('Etes-vous sûr ?')"><button type="submit" name="submitAction"  value="delete" class="btn btn-outline-danger">Supprimer la sortie</button></a>#}
    <a href="{{ path('app_home') }}"><button type="button" name="annuler" class="btn btn-outline-danger">Annuler</button>


    {{ form_end(sortieform) }}

{% endblock %}