{% extends 'base.html.twig' %}




{% block title %}Sortir.com {% endblock %}

{% block body %}

    <div class="container">
    <h2 class="text-center">Ton profil {{ app.user.pseudo }}</h2>

        {% if app.user.photo is not empty %}
            <img src="{{ asset(photo_dir ~ '/' ~ app.user.photo) }}" class ="photo-profil" width="300px" loading="lazy" />
            {% else %}
                <img src="{{ asset('assets/img/avatar.jpg') }}" class ="photo-profil" width="300px" loading="lazy" />
        {% endif %}

        <ul class="list-group">
        <li class="list-group-item">Prénom : {{ app.user.prenom }}</li>
        <li class="list-group-item">Nom : {{ app.user.nom }}</li>
        <li class="list-group-item">Téléphone : {{ app.user.telephone }}</li>
        <li class="list-group-item">Email : {{ app.user.email }}</li>
        <li class="list-group-item">Ville de rattachement : {{ app.user.site.nomSite }}</li>
    </ul>
        <br>
        <a href="{{ path('app_user_profile_update') }}"><button  type="reset" class="btn btn-outline-secondary">Modifier</button></a>
        <a href="{{ path('app_home') }}"> <button  type="reset" class="btn btn-outline-danger">Retour</button></a>

    </div>



{% endblock %}