{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}



{% block title %}Sortir.com {% endblock %}

{% block body %}

    <div class="center">
        <h1>Modifier mon profil</h1>
        <h3>{{ app.user.pseudo }}</h3>

        {{ form_errors(form) }}
        {{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.photo) }}
        {{ form_row(form.site) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}


        <a href=""></a>  <button type="submit" name="submitAction" value="enregistrer" class="btn">Enregistrer</button>
        {#        <a href="{{ path('app_user_profile_update')}}" class="btn btn-outline-danger">Enregistrer</a>#}
        {{ form_end(form) }}
        <a href="{{ path('app_home') }}">  <button  type="reset" class="btn btn-outline-secondary">Retour</button> </a>

    </div>





{% endblock %}