{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}



{% block title %}Modification Profil{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier mon profil</h1>
        <h3>{{ app.user.pseudo }}</h3>

        {{ form_errors(form) }}
        {{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.photo_file) }}
        {{ form_row(form.site) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}


        <button type="submit" name="submitAction" value="enregistrer" class="btn btn-outline-secondary">Enregistrer</button>
        <a href="{{ path('app_home') }}">  <button name="submitAction" value="retour"  type="button" class="btn btn-outline-danger">Retour</button> </a>
        {{ form_end(form) }}


    </div>





{% endblock %}